{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="d-flex justify-content-center align-items-center bg-dark text-light" style="height: calc(100vh - 104px);">
    <main class="px-3">
        <h1 style="text-align: center;">Welcome to Travel-oholic</h1>
        <p class="lead" >Travel-oholic is an online platform to book rides for travelling at cheapest prices so that you can enjoy at your fullest. This is your call to start your journey now!</p>
        <p class="lead d-flex justify-content-center">
            <a href="/book" class="btn btn-lg btn-light fw-bold border-white bg-white">Book Now</a>
        </p>
    </main>
</div>
{% endblock body %}