{% extends 'base.html' %}

{% block title %}Support{% endblock title %}

{% block body %}
<div class="container-fluid m-0 bg-dark text-light"style="overflow: scroll; height: calc(100vh - 104px);">
    <h1 class="text-center p-4">Support</h1>
    <div class="container">
        <div class="p-4">
            <h4 class="text-center">BY PHONE</h4>
            <p class="text-center m-0">(Monday to Friday, 9am to 4pm IST)</p>
            <p class="text-center m-0">India TOLL FREE:</p>
            <p class="text-center m-0">+919999999999</p>
            <p class="text-center m-0">+918888888888</p>
        </div>

        <div class="p-4">
            <h4 class="text-center">OUR OFFICE</h4>
            <p class="text-center m-0">Rajendra Prasad Hall of Residence<br>Indian Institute of Technology
                Kharagpur<br>Kharagpur-721302</p>
        </div>

        <div class="p-4">
            <h4 class="text-center">FEEDBACK</h4>
            <p class="text-center m-0">Your opinion matters to us and We would value <br> your opinions on what went
                well and what could be improved. <br> This will help us deliver better-quality service in the
                future. <br>
                <a href="/feedback" style="text-decoration: none;">Rate Us</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}