{% extends 'base.html' %}

{% block title %}Terms and Conditions{% endblock title %}

{% block body %}
<div class="container-fluid bg-dark text-light p-0" style="overflow: scroll;">
    <h1 class="text-center p-4">Terms and Conditions</h1>
    <div class="container">
        <div>
            <h5 class="p-2"><b>Special Note: Please Follow Covid-19 Guideline In Vehicle</b></h5>
            <ul>
                <li>Face Mask For individual Person Compulsory in The Vehicle</li>
                <li>When You Enter and Re-enter In Vehicle After Sightseeing and any other Place sanitize your Hand
                    Properly
                    before entering in Vehicle</li>
                <li>Sightseeing Places Allowed As Per State Govt. Rules And Regulation</li>
                <li>If in case your trip cancels due to covid Travel Restrictions/Lockdown then Only 50% Amount From The
                    paid booking amount is Refundable <b>OR</b> You can postpone your trip to the next Available dates
                    within 3
                    Months (depending on vehicle availability and price may be changed or same) and your full booking
                    amount
                    will adjust.</li>
            </ul>
        </div>

        <div>
            <h5 class="p-2">Modification Of Terms</h5>
            <div class="container">
                <p>Traveloholic Travels reserves the right to change the terms, conditions, and notices under which the
                    Services
                    are
                    offered through the Website, including but not limited to the charges for the Services provided
                    through
                    the
                    Website. The User shall be responsible for regularly reviewing these terms and conditions.

                    The courts of Delhi shall have the sole and exclusive jurisdiction in respect of any matters arising
                    from
                    the use of the services offered by Traveloholic Travels or the agreement or arrangement between
                    Traveloholic Travels
                    and
                    the Customer.</p>
            </div>
        </div>
        <div>
            <h5 class="p-2">Privacy Policy</h5>
            <div class="container">
                <p>This privacy policy sets out how Traveloholic Travels uses and protects any information that you give
                    Traveloholic
                    Travels when you use this website.

                    Traveloholic Travels is committed to ensuring that your privacy is protected. Should we ask you to
                    provide
                    certain information by which you can be identified when using this website, then you can be assured
                    that
                    it will only be used in accordance with this privacy statement.

                    Traveloholic Travels may change this policy from time to time by updating this page. You should
                    check
                    this page
                    from time to time to ensure that you are happy with any changes.</p>
            </div>
        </div>
        <div>
            <h5 class="p-2">Payment Mode</h5>
            <ul>
                <li>All rental payments are to be made by Cash or Bank Transfers.</li>
                <li>30% Payment in Advance as a Booking Amount (not refundable amount) For Outstation</li>
                <li>Driver Will Take Balance Full Payment at Pick Up Time Hotel / Airport / Rly Station / Home</li>
                <li>Please take care of the belongings before leaving the cab and Japji Travels is not responsible for
                    any
                    loss</li>
                <li>Any delay due to unavoidable circumstances like bandh, traffic jam, breakdown, accidents, severe
                    weather
                    conditions, etc Japji Travels is not held responsible</li>
                <li>If the payment on the credit card / Debit Card / Net Banking is declined / Failed for some reason,
                    for
                    alternate payment instructions you must call in Japji Travel, 72 hours prior to the time of
                    departure,
                    else the order is liable to be canceled.</li>
                <li>Sometimes Online Making Payment Through Our Websites it takes 24 hours to 36 hours To Reflect Amount
                    in
                    Our Account and We Cannot Confirm or Provide any Services unless we received amount.</li>
            </ul>
        </div>
        <h4 class="p-2">For more information you can <a href="/support" style="text-decoration: none;">contact us</a></h4>
    </div>
</div>
{% endblock body %}